<footer class="text-center d-flex justify-content-center align-items-center mt-5" style="border-top: 1px soli
gray;">
    <div>
  <div>
    <a href=""><i class=" icon text-dark fa-brands fa-square-twitter"></i></a>
    <a href=""><i class=" icon text-dark fa-brands fa-github"></i></a>
    <a href=""><i class=" icon text-dark fa-brands fa-facebook"></i></a>
  </div>
  <div>
    <p>Copyrigth &copy; Hack Academy 2022</p>
  </div>
</footer>

    <script src="https://kit.fontawesome.com/5bed63e9a2.js" crossorigin="anonymous"></script>