<nav class="navbar navbar-dark bg-dark p-0">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Hack the blog</a>
    <div>
      <% if (user) { %>
      <div class="sec-center m-2">
        <input class="dropdown" type="checkbox" id="dropdown" name="dropdown" />
        <label class="for-dropdown" for="dropdown"> Menu </label>
        <div class="section-dropdown">
          <div class="border-white w-100 border-bottom p-2">
            <span class="text-white"
              ><%= user.data.dataValues.firstname %> <%= user.data.dataValues.lastname %></span
            >
          </div>
          <% if (user.permissions.some((permission) => permission.name === "create-article")) { %>
          <a href="/admin">Admin</a>
          <% } %> <% if (user.permissions.some((permission) => permission.name ===
          "update-comment")) { %>
          <a href="/comentarios">Comentarios</a>
          <% } %><% if (user.permissions.some((permission) => permission.name === "delete-user")) {
          %><a href="/usuarios">Usuarios</a> <% } %>
          <a href="/logout">Logout </a>
          <button
            type="button"
            class="btn btn-danger w-100"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Eliminar Usuario
          </button>
        </div>
      </div>
      <% }else{ %>
      <a class="btn btn-primary px-2 py-0" href="/login">Login</a>
      <% } %>
    </div>
  </div>
</nav>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 t text-black" id="exampleModalLabel">
          Estas seguro de eliminar tu usuario?
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger">Borrar</button>
      </div>
    </div>
  </div>
</div>
