

.hero-content{  
    position: relative;
    height: 300px;
    background-image: url("../img/bg_image_home.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  }
.hero-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
  }
  

  
  


  h1, h2 {
    display: block;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 1;
   
  }

  h2{
    font-size: smaller;
 
  }

